 {% extends 'notes_f_t5.html' %} <!-- указываем базовый файл -->
 {% block notes %}
    {% blok header%}

<header>
    <div class="header">
        <a href="#" class="logo"><img src="../static/img/book.png" alt="CSS Header"></a>
        <a href="/">Домашняя страница</a>
        <a href="/dp">Дневник программиста</a>
        <a href="/home">Авторизация</a>
      <div class="header-right">
        <a class="active" href="/home">Войти</a>
        <a class="active" href="/register">Регистрация</a>
        <a class="active" href="/login">Логин</a>
      </div>
    </div>
 </header>

{% endblock %}









