<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link rel="stylesheet" href="../static/css/f_t5.css">
</head>
 <header>
     <div class="header">
      <div class="header-left">
        <a href="/">Домашняя страница</a>
        <a href="/dp">Дневник программиста</a>
        <a href="/home">Авторизация</a>
      </div>
      <div class="header-right">
        <a href="/home">Войти</a>
        <a href="/logout">Выйти</a>
        <a href="/register">Регистрация</a>
        <a href="/login">Логин</a>
      </div>

 </header>
<body>
<div style="text-align: center;">
    <a href='/register'>
        <button> Регистрация </button>
    </a>
    <a href='/login'>
        <button> Логин </button>
    </a>
</div>

</body>
</html>